.full-width {
    width: 100%;
}

.tag-cloud {
    overflow: auto; 
    height: 100%; 
    width: 100%;
}

.red_color .mat-icon {
    color: red;
}

.red_color .mat-icon.green_color {
    color: green;
}